eel
plexapi
configparser
pyatv==0.15.1
Flask
requests
gunicorn
pywebostv
flask-socketio
eventlet
pytz
python-dotenv
pexpect
adb-shell>=0.4.0
websocket-client
wakeonlan
Flask-WTF>=1.0.0
webauthn>=1.6.0,<3.0.0
apscheduler
